---
import { Image } from '@astrojs/image/components';
import MySiteLayout from "src/layouts/MySiteLayout.astro";
---


<MySiteLayout title="About">

    <section id="about" class="px-10 dark:bg-dark dark:text-white ">
        <div
          class="container mx-auto py-10 flex flex-col-reverse lg:flex-row items-center gap-20"
        >
          <!-- left -->
          <div class="relative">
            <img
              class="h-1/4 absolute top-0 left-0 -z-10"
              src="/dots.png"
              alt="Image"
            />
            <div class="h-full rounded-full w-64 overflow-hidden animate-fade animate-delay-400 animate-duration-300">
              <Image 
              format='webp'
              fit="outside"
              quality={80}
              width={256}
              height={256}
              src="/profile.webp"
              alt="profile"
               />
            </div>
          </div>
          <!-- right -->
          <div class="my-auto flex flex-col gap-3">
            <h1 class="text-teal-600 font-bold" > <span id="highlight1" class="block highlight1  w-fit py-2 px-3">
                ABOUT ME
                </span>
            </h1>
            <div class="bra">
            <h1 class="text-3xl font-medium dark:text-white">Better Design</h1>
            <h1 class="text-3xl font-medium dark:text-white">
              Better Experience
            </h1>
            <p class="text-gray-400 dark:text-white">
              I design and build digital products. I'm also a multi-disciplinary
              maker with over 10 years of experiences in wide range of design
              disciplines.
            </p>
            <h2 class="text-gray-400 font-medium dark:text-white">HTML</h2>
            <div class="w-full bg-gray-200 h-1.5 rounded-md">
              <div class="w-full bg-teal-600 h-1.5 rounded-md"></div>
            </div>
            <h2 class="text-gray-400 font-medium dark:text-white">Javascript</h2>
            <div class="w-full bg-gray-200 h-1.5 rounded-md">
              <div class="w-4/6 bg-teal-600 h-1.5 rounded-md"></div>
            </div>
            <h2 class="text-gray-400 font-medium dark:text-white">Css</h2>
            <div class="w-full bg-gray-200 h-1.5 rounded-md">
              <div class="w-[90%] bg-teal-600 h-1.5 rounded-md"></div>
            </div>
            <h2 class="text-gray-400 font-medium dark:text-white">React</h2>
            <div class="w-full bg-gray-200 h-1.5 rounded-md">
              <div class="w-5/6 bg-teal-600 h-1.5 rounded-md"></div>
            </div>
        </div>

          </div>
        </div>
      </section>

<section class="mt- container mx-auto">
    <h2 class="text-5xl text-emerald-500 font-bold highlight2 w-fit px-5 py-2">What I Do? </h2>
    <main class="grid grid-cols-1 md:grid-cols-2 md:text-base px-12 lg:grid-cols-3 mt-5 gap-10">

        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base"> Prepare variety of different designs, layouts and websites</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Use Seo Optimization and other software tools to create to grow their business</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Actively listen to customers' requests, confirming full understanding before addressing concerns</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Identify issues, analyzed information and provided solutions to problems</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Convert graphic designs to usable web images using React JS</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Plan website development, converting mockups into usable web presence with HTML, JavaScript, AJAX and JSON coding</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Provide front-end website development using WordPress, Hubspot and other editing software</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Establish presentation consistency across Chrome, Safari, Firefox and other common browser interfaces</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Convert graphic designs to usable web images using Adobe Photo Shop</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Multi-task across multiple functions and roles to generate project results and meet deadlines and organizational expectations</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Code websites using HTML, CSS, JavaScript and jQuery languages</p>
        </div>
      
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Conduct Unit testing over course of web development lifecycle</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Develop technical solutions required to accommodate specific user-facing assets such as [Product or Service]</p>
        </div>
       
        <div class="card shadow-md dark:shadow-black dark:shadow-sm dark:text-white shadow-[#e0e0e0] py-2 px-6 rounded-lg relative hover:bg-teal-400 transition-colors duration-100 cursor-pointer">
            <div class="absolute top-3 "><img class="w-5 opacity-50" src="check.png" alt=""></div>
            <p class="ml-7 text-base">Employ search engine optimization tactics to increase reach of targeted audience</p>
        </div>
       
    </main>
</section>
</MySiteLayout>

<script>
    import { annotate,annotationGroup } from "https://unpkg.com/rough-notation?module";
  const e = document.querySelector(".highlight2");
  const annotation2 = annotate(e, {
    animationDelay: 1000,
    type: "highlight",
    color: "#FFF176",
    padding: "50",
    animationDuration: 2000,
  });
  const highlight1 = document.querySelector(".highlight1");
  const annotation1 = annotate(highlight1, {
    animationDelay: 1000,
    type: "highlight",
    color: "#FFF176",
    padding: "50",
    animationDuration: 2000,
  });

  const ev = document.querySelector(".bra");
  const annotation3 = annotate(ev,
   { 
    type: 'bracket', color: 'red', padding: [4, 10], brackets: ['left', 'right'], strokeWidth: 3,
  }
   )
  annotation3.show();
  
  const ag = annotationGroup([annotation1, annotation2]);
  ag.show()
</script>
