---
import MySiteLayout from "src/layouts/MySiteLayout.astro";

export async function getStaticPaths() {
    const posts = await Astro.glob('../blogs../posts/*.md');
  return [ // <-- Array
    { params: { slug: "test",props:{posts:posts} } },
  ];
}
const {title}=Astro.props
---
<MySiteLayout title={"yhh"}>
    <p>slug:{title}</p>
    </MySiteLayout>