---
// import BaseHead from '../components/BaseHead.astro';
import Navbar from "../components/Navbar.jsx";
// import Navbar from '../components/navbar.astro';
import Footer from "../components/Footer.astro";
import { TailwindIndicator } from "@components/utilis/INdicator";
// import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body class="selection:bg-teal-400 selection:text-black overflow-x-hidden">
    <div class="fixed top-0 left-0 right-0 z-50 mb-10">
      <Navbar client:load />

    </div>
    <TailwindIndicator/>
    <main class="mt-10 font-grotesk [&>*]:animate-fade">
      <slot />
      <!-- your content is injected here -->
    </main>
    <!-- <Footer /> -->
    <Footer />
  </body>
</html>

